numpy
pandas
matplotlib
seaborn
scikit-learn
torch
torchvision
torchaudio
pydrive
geopandas
rasterio
shapely
earthengine-api
tqdm
joblib
jupyter
notebook
opencv-python
scipy
plotly
folium
geemap
scikit-image
